[submodule "Frameworks/RoadChatKit"]
	path = Frameworks/RoadChatKit
	url = https://github.com/niksauer/RoadChatKit
	branch = master
	ignore = dirty
[submodule "Frameworks/Strongbox"]
	path = Frameworks/Strongbox
	url = https://github.com/granoff/Strongbox
