[submodule "Frameworks/RoadChatKit"]
	path = Frameworks/RoadChatKit
	url = https://github.com/niksauer/RoadChatKit
	branch = master
	ignore = dirty
[submodule "Frameworks/Locksmith"]
	path = Frameworks/Locksmith
	url = https://github.com/matthewpalmer/Locksmith.git
	branch = master
	ignore = dirty
[submodule "Frameworks/SwiftyBeaver"]
	path = Frameworks/SwiftyBeaver
	url = https://github.com/SwiftyBeaver/SwiftyBeaver
	ignore = dirty
[submodule "Frameworks/Parchment"]
	path = Frameworks/Parchment
	url = git@github.com:rechsteiner/Parchment.git
[submodule "ColorCircle"]
	path = Frameworks/ColorCircle
	url = https://github.com/niksauer/ColorCircle
